@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body{
    @apply bg-bgprimary text-ftprimary;
    font-family: "Poppins", sans-serif;
}

.active {
    @apply text-ftprimary
}


.banner{
    background-image: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.7)
    ),
    url(https://loremflickr.com/320/240?random=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #40434C;
}